/* common */
/** header **/
html, body {
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
.header:after {
  content: "";
  display: block;
  clear: both;
}
.header h1 {
  float: left;
}
.main {
  text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 1.22em 0;
}
.navbar-right {
  text-align: right;
}
#thumbnail {
  width: 30%;
  float: left;
}
#thumbnail li {
  display: inline;
}
#thumbnail img {
  margin: 0 3px;
}
#thumbnail li:nth-of-type(5n+1) img{
  margin-left: 0;
}
.show-original {
  float: left;
  width: 70%;
}
.show-original img {
  max-width: 90%;
}
.border {
  width: 100%;
  padding: 30px 0;
  margin: 0 0 20px;
}
.border-black {
  background: #2b2b2b;
}
.btn {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 180px;
  height: 45px;
  line-height: 40px;
  background: #3071a9;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
}
.btn:hover {
  background: #397ac9;;
}
.btn[disabled] {
  background: grey;
}
.btn-square {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.btn-square::before {
  content: "\f15b";
  font-family: FontAwesome;
  font-size: 12em;
  color: white;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}
.btn-square::after {
  content: "ファイルを選択";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14%;
  font-size: 2em;
}
#preview {
  display: inline-block;
}
#preview img {
  margin-right: 4px;
  vertical-align: middle;
  max-width: 350px;
}
/*
#next {
  display: none;
}
#next::after {
  content: "\f067";
  font-family: FontAwesome;
  font-size: 12em;
  vertical-align: middle;
  margin-right: -50px;
}
*/

input[type="file"] {
  display: none;
}
/* mobile */
@media (max-width: 600px) {
  /** header **/
  html {
    font-size: 62.5%;
  }
  h1 {
    font-size: 1.5rem;
  }
} /* max-width: 600px */

/* pc, or tablet device */
@media (min-width: 601px) {
  h1 { 
    font-size: 1.25em;
  }

  .navbar-right li {
    display: inline-block;
    list-style-type: none;
    margin: 8px 0 0 12px;
  }
  .navbar-right li a:hover{
    text-decoration: underline;
  }
}
